# pycharm
.idea

# python
.venv
__pycache__

# allure
allure-results
allure-report

# testing artifacts
browser-state.json
videos
tracing
htmlcov
.coverage

# training artifacts
training

# npm files
node_modules